.root {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

.wrapper {
  display: flex;
  justify-content: center;

  width: 100%;
  max-width: 1500px;
  height: 100%;
}
