.loginForm {
  display: flex;
  justify-content: center;

  width: 100%;
  max-width: 1500px;
  height: 100%;
}

.loginWrapper, .profileWrapper {
  padding: 64px 40px;
  background: #fff;
  box-shadow: 0 0 0 1px #e0e0e0;
}

.titleCard {
  margin-bottom: 90px;
  font-size: var(--font-size-xxl);
  line-height: 124%;
  color: rgba(0, 0, 0, 87%);
}

.loginWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  .textEntrance {
    margin-bottom: 35px;
    font-size: var(--font-size-x);
    line-height: 133%;
    color: rgba(0, 0, 0, 87%);
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 485px;
  }
}

.profileWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;

    .profileContainer {
      display: flex;
      align-items: flex-start;

      width: 320px;
      height: 96px;
      padding: 6px 16px;

      border: 1px solid #0288d1;
      border-radius: 4px;

      .icon {
        width: 34px;
        height: 36px;
        padding: 7px 12px 7px 0;
      }

      .textContainerProfile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 0;

        .nameProfile {
          margin-bottom: 4px;
          font-size: var(--font-size-m);
          font-weight: var(--font-weight-medium);
          color: #014361;
        }

        .loginProfile, .passwordProfile {
          font-size: var(--font-size-s);
          line-height: 143%;
          color: #014361;
        }
      }
    }
  }
}