.footer {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 152px;

  background: #fff;
  box-shadow: 0 0 0 1px #e0e0e0;


  .link {
    cursor: pointer;
    font-size: var(--font-size-m);
    color: rgba(0, 0, 0, 87%);
    text-decoration: none;
  }

  .link:nth-of-type(2) {
    margin: 0 571px 0 616px;
  }
}