.notFoundPage{
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;

  width: 100%;

}

.notFound{
  font-size: 80px;
  font-weight: var(--font-weight-medium);
}

.notFoundText{
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-medium);
}